<!-- Could use same template as add.ejs, but chose to split for clarity in example -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form action="/books/update/<%= book.id %>" method="post">
    <!--  Use CSS to be modern -->
    <table>
        <tr><td>Title: </td><td><input type="text" name="title"  value="<%= book.title %>" ></td></tr>
        <tr><td>Author: </td><td><input type="text" name="author" value="<%= book.author %>"></td></tr>
        <tr><td>Price: </td><td><input type="text" name="price" value="<%= book.price %>"></td></tr>
        <tr><td colspan="2">
                <input type='submit' value="Save">
                &nbsp;
                <!-- Could also pass to the server as a submit and determine redirect action there -->
                <a href='/books/' style="text-decoration: none;"><input type="button" value='Cancel Edit'></a>
            </td></tr>
    </table>
</form>
