<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Bookmark</title>

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

</head>
<body>
    <bm-edit-dialog class="dialog">
        <div class="dialog-header">
            <div class="dialog-title">Edit</div>
            <bm-dialog-close><span onclick="hide('bm-edit-dialog')" class="fa fa-times"></span>
            </bm-dialog-close>
        </div>
        <bm-dialog-body>
            <form class="dialog-form">
                <div class="row">
                    <div class="name col-xs-6">
                        <input name="name" type="text" class="dialog-input name" placeholder="Name">
                    </div>
                    <div class="keywords col-xs-6">
                        <input name="keywords" type="text" class="dialog-input keywords" placeholder="Keywords">
                    </div>
                </div>
                <div class="row">
                    <input name="url" type="text" class="dialog-input url" placeholder="Url">
                </div>

                <div class="row text">
                    <textarea name="text" class="dialog-input description" placeholder="Description"></textarea>
                </div>
                <div class="row">
                    <select class="dialog-select dialog-input">
                        <option value="" disabled="" selected="">Select folder</option>
                        <option>Folder 1</option>
                        <option>Folder 1</option>
                        <option>Porn</option>
                        <option>NSFL</option>
                    </select>
                </div>
                <div class="row">
                    <div class="press">
                        <button onclick="hide('bm-edit-dialog', event); return false;">delete</button>
                        <button onclick="hide('bm-edit-dialog', event); return false;">apply</button>
                    </div>
                </div>
            </form>
        </bm-dialog-body>
    </bm-edit-dialog>
</body>
</html>
