<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Import Bookmark</title>

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

</head>
<body>
    <bm-upload-file-dialog class="dialog">
        <div class="dialog-header">
            <div class="dialog-title">Upload</div>
            <bm-dialog-close><span onclick="hide('bm-upload-file-dialog')" class="fa fa-times"></span>
            </bm-dialog-close>
        </div>
        <bm-dialog-body class="drag-and-drop-container">
            <div class="drag-and-drop-inner">
                <div class="text-center">
                    <span class="fa fa-cloud-upload"></span>
                    <p>drag and drop bookmark file here</p>
                    <a href="javascript: void(0);">Open file explorer</a>
                </div>
            </div>
        </bm-dialog-body>
    </bm-upload-file-dialog>
</body>
</html>