<bm-create-dialog class="dialog">
    <div class="dialog-header">
        <div class="dialog-title">Create</div>
        <bm-dialog-close><span onclick="App.bookmarkCreate.remove()" class="fa fa-times"></span></bm-dialog-close>
    </div>
    <bm-dialog-body>
        <form class="dialog-form">
            <div class="row">
                <div class="name col-xs-6">
                    <input name="name" type="text"
                           class="name dialog-input" placeholder="Name">
                </div>
                <div class="keywords col-xs-6">
                    <input name="keywords" type="text" class="keywords dialog-input"
                           placeholder="Keywords"/>
                </div>
            </div>
            <div class="row">
                <input name="url" type="text" class="url dialog-input"
                       placeholder="Url"/>
            </div>

            <div class="row text">
                <textarea name="text" class="description dialog-input" id="description"
                          placeholder="Description"></textarea>
            </div>
            <div class="row">
                <select class="dialog-select dialog-input">
                    <option value="" disabled selected>Select folder</option>
                    <option>Folder 1</option>
                    <option>Folder 1</option>
                    <option>Porn</option>
                    <option>NSFL</option>
                </select>
            </div>
            <div class="row">
                <section class="press">
                    <button onclick="App.bookmarkCreate.remove(); return false;">Create</button>
                </section>
            </div>
        </form>
    </bm-dialog-body>
</bm-create-dialog>