<bm-edit-dialog class="dialog">
    <bm-dialog-close class="row">
        <span id="trash" class="fa fa-trash-o col-lg-1 col-md-1"></span>
        <div class="col-lg-10 col-md-10"></div>
        <span id="x" onclick="App.bookMarkEdit.remove()" class="fa fa-times col-lg-1 col-md-1"></span>
    </bm-dialog-close>
    <bm-dialog-body class="drag-and-drop-container">
        <form>
            <div class="row form_row">
                <div class="col-lg-5 col-md-5" id="titleCol">
                    <p id="title">Title</p>
                    <input type = "text" name = "title" placeholder="Title"><br>
                </div>
                <div class="'col-lg-2 col-md-2"></div>
                <div class="col-lg-5 col-md-5" id="keywordsCol">
                    <p id="keywords">Keywords</p>
                    <input type = "text" name = "keywords" placeholder="Keywords"><br>
                </div>
            </div>
            <div class="row form_row">
                <p id="url">Url</p>
                <input type = "url" name = "url" placeholder="http://xxx.com"><br>
            </div>

            <div class="row">
                <p id="description">Description</p>
                <textarea rows = "3">Description</textarea>
            </div>

            <input class="row" type = "submit">
        </form>
    </bm-dialog-body>
</bm-edit-dialog>