<li class="list-item-style">
    <div class="bookmark-item split-list">
        <div>
            <a class="bookmark-link folder-text" onclick="App.bookmarkExplorer.showBookmarks('sub')">
                <span class="fa fa-folder left-item bookmark-icons hand"></span> {{ name }}
            </a>
        </div>
        <div>
            <span class="fa fa-chevron-right edit-favorite-icons hand" onclick="App.bookmarkExplorer.showBookmarks('sub')"></span>
            <span class="fa fa-edit edit-favorite-icons hand" onclick="App.bookMarkEdit.show()"></span>
        </div>
    </div>
</li>
